%a.btn.btn-default.btn-sm{:href => '#', :ng => {:href => '#', :click => 'sticksCtrl.commit()'}, :uib => {:tooltip => 'Commit Changes'}}
  = image_tag 'plate.png', :style => 'width: 80px; vertical-align: top'
