%a.btn.btn-default.btn-sm{:href => '#', :ng => {:href => '#', :click => 'sticksCtrl.toggle(position)',
                                         :class => 'sticksCtrl.stickButtonClasses(position)'}}
  .stick.vertical{:style => 'height: 100px; display: inline-block'}
